
body {
  color: #380F06;
}


.call-to-action {
  .jumbotron {
    margin-bottom: 0px;
    height: 400px;
    background-color: #FF8002;
  }
  h1 {
  color: #380F06;
  }
  .right {
  text-align: right;
  color: white;
  }
}
.first {
  .jumbotron {
  margin-bottom: 0px;
  background-color: #FF8002;
  height: 750px;
  }
  h1 {
  color: white;
  }
  .center {
  text-align: center;
  }
}
.second {
  .jumbotron {
    margin-bottom: 0px;
    height: 750px;
    background-color: #E22B00;
    color: #380F06;
  }
  .white {
   color: white;
  }
  ul {
  list-style-type: none;
  }
  .black {
    color: darkgray;
  }
}
.third {
  .jumbotron {
    margin-bottom: 0px;
    height: 750px;
    background-color: #FF8002;
  }
}
.join {
  .jumbotron {
    margin-bottom: 0px;
    height: 180px;
    background-color: #FDFDFD;
  }
  text-align: center;
}
.footer {
  .jumbotron {
    margin-bottom: 0px;
    height: 200px;
    background-color: #EEE;
  }
}

