.call-to-action {
  .jumbotron {
    margin-bottom: 0px;
    height: 750px;
    background-color: #FDFDFD;
  }
}
.first {
  .jumbotron {
  margin-bottom: 0px;
  background-color: #396A92;
  height: 750px;
  }
}
.second {
  .jumbotron {
    margin-bottom: 0px;
    height: 750px;
    background-color: #FDFDFD;
  }
}
.third {
  .jumbotron {
    margin-bottom: 0px;
    height: 750px;
    background-color: #091D42;
  }
}
.join {
  .jumbotron {
    margin-bottom: 0px;
    height: 150px;
    background-color: #FDFDFD;
  }
  text-align: center;
}
.footer {
  .jumbotron {
    margin-bottom: 0px;
    height: 200px;
    background-color: #EEE;
  }
}
