<h1> Index page </h1>



<%= content_for(:title, "Landing Page") %>
<div class="call-to-action">
  <div class="jumbotron">
     <h1> Have you ever wanted to change the world? </h1>
      <h3> Charity infinity strives to utilize the power of crowd sourcing in order </h3>
            <%= render "email" %>

      <p> jajajjajaja</p>
  </div>
</div>

<div class="first">
  <div class="jumbotron">
     <h1> Our Process </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

<div class="second">
  <div class="jumbotron">
     <h1> Who we help </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

<div class="third">
  <div class="jumbotron">
     <h1> Analytics </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

<div class="join">
  <div class="jumbotron">
      <%= render "email" %>
  </div>
</div>

<div class="footer">
  <div class="jumbotron">
     <h1> Analytics </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

